@font-face {
    font-family: 'M PLUS Rounded 1c';
    src: url('/fonts/MPLUSRounded1c.ttf');
}

html {
    height: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.item-name {
    font-weight: bold;
    font-size: 24px;
}

.item-time {
    font-weight: normal;
    font-size: 20px;
}

.price {
    font-weight: normal;
    font-size: 20px;
}

#meatbuts {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 300px);
}
